<div class="sm-cont">
    <div class="g-row-2">
        <div class=" start-1 col-1">
            <img src="/image/logo.png" alt="">
        </div>
        <div class="start-2 col-11 ">
        </div>
    </div>
</div>
